In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
cars_data = pd.read_csv('car_price_dataset.csv')

In [3]:
cars_data.head()

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,3,2867

In [4]:
cars_data.drop(columns = ['Doors'], inplace = True)

In [5]:
cars_data.head()

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,Manual,289944,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,Automatic,5356,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,Automatic,231440,2,11171
3,Audi,Q5,2023,2.0,Electric,Manual,160971,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,Semi-Automatic,286618,3,2867

In [6]:
cars_data.shape

(10000, 9)

In [7]:
cars_data.isnull().sum()

Brand           0
Model           0
Year            0
Engine_Size     0
Fuel_Type       0
Transmission    0
Mileage         0
Owner_Count     0
Price           0
dtype: int64

In [8]:
cars_data.duplicated().sum()

np.int64(0)

In [9]:
cars_data.info

<bound method DataFrame.info of            Brand     Model  Year  Engine_Size Fuel_Type    Transmission  \
0            Kia       Rio  2020          4.2    Diesel          Manual
1      Chevrolet    Malibu  2012          2.0    Hybrid       Automatic
2       Mercedes       GLA  2020          4.2    Diesel       Automatic
3           Audi        Q5  2023          2.0  Electric          Manual
4     Volkswagen      Golf  2003          2.6    Hybrid  Semi-Automatic
...          ...       ...   ...          ...       ...             ...
9995         Kia    Optima  2004          3.7    Diesel  Semi-Automatic
9996   Chevrolet    Impala  2002          1.4  Electric       Automatic
9997         BMW  3 Series  2010          3.0    Petrol       Automatic
9998        Ford  Explorer  2002          1.4    Hybrid       Automatic
9999  Volkswagen    Tiguan  2001          2.1    Diesel          Manual

      Mileage  Owner_Count  Price
0      289944            5   8501
1        5356            3  12092
2      231440            2  11171
3      160971            1  11780
4      286618            3   2867
...       ...          ...    ...
9995     5794            4   8884
9996   168000            1   6240
9997    86664            1   9866
9998   225772            1   4084
9999   157882            3   3342

[10000 rows x 9 columns]>

In [10]:
for col in cars_data.columns:
    print('Unique values of ' + col)
    print(cars_data[col].unique())
    print('======================\n')

Unique values of Brand
['Kia' 'Chevrolet' 'Mercedes' 'Audi' 'Volkswagen' 'Toyota' 'Honda' 'BMW'
 'Hyundai' 'Ford']
======================

Unique values of Model
['Rio' 'Malibu' 'GLA' 'Q5' 'Golf' 'Camry' 'Civic' 'Sportage' 'RAV4'
 '5 Series' 'CR-V' 'Elantra' 'Tiguan' 'Equinox' 'Explorer' 'A3' '3 Series'
 'Tucson' 'Passat' 'Impala' 'Corolla' 'Optima' 'Fiesta' 'A4' 'Focus'
 'E-Class' 'Sonata' 'C-Class' 'X5' 'Accord']
======================

Unique values of Year
[2020 2012 2023 2003 2007 2010 2001 2014 2005 2013 2009 2004 2017 2006
 2000 2021 2018 2016 2011 2022 2008 2015 2002 2019]
======================

Unique values of Engine_Size
[4.2 2.  2.6 2.7 3.4 4.7 3.1 1.3 4.5 4.8 2.3 2.4 3.2 2.9 1.5 1.8 4.6 2.8
 3.9 3.3 1.9 3.5 1.4 2.2 1.  1.2 4.9 3.6 3.8 4.  1.7 1.6 4.1 1.1 2.5 3.
 5.  2.1 3.7 4.3 4.4]
======================

Unique values of Fuel_Type
['Diesel' 'Hybrid' 'Electric' 'Petrol']
======================

Unique values of Transmission
['Manual' 'Automatic' 'Semi-Automatic']
======================

Unique values of Mileage
[289944   5356 231440 ...  86664 225772 157882]
======================

Unique values of Owner_Count
[5 3 2 1 4]
======================

Unique values of Price
[ 8501 12092 11171 ...  9866  4084  3342]
======================

In [11]:
cars_data['Brand'] = cars_data['Brand'].replace(
    ['Kia', 'Chevrolet', 'Mercedes', 'Audi', 'Volkswagen', 'Toyota', 'Honda', 'BMW', 'Hyundai', 'Ford'],
    [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
)

/var/folders/87/cqxtqm5j3f5_kkqrw42q_gn80000gn/T/ipykernel_90011/3173550303.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data['Brand'] = cars_data['Brand'].replace(

In [12]:
cars_data['Transmission'] = cars_data['Transmission'].replace(['Manual', 'Automatic', 'Semi-Automatic'], [1, 2, 3])

/var/folders/87/cqxtqm5j3f5_kkqrw42q_gn80000gn/T/ipykernel_90011/2187229722.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data['Transmission'] = cars_data['Transmission'].replace(['Manual', 'Automatic', 'Semi-Automatic'], [1, 2, 3])

In [13]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         10000 non-null  int64
 1   Model         10000 non-null  object
 2   Year          10000 non-null  int64
 3   Engine_Size   10000 non-null  float64
 4   Fuel_Type     10000 non-null  object
 5   Transmission  10000 non-null  int64
 6   Mileage       10000 non-null  int64
 7   Owner_Count   10000 non-null  int64
 8   Price         10000 non-null  int64
dtypes: float64(1), int64(6), object(2)
memory usage: 703.3+ KB

In [14]:
cars_data['Fuel_Type'] = cars_data['Fuel_Type'].replace(['Diesel' ,'Hybrid' ,'Electric', 'Petrol'], [1, 2, 3, 4])

/var/folders/87/cqxtqm5j3f5_kkqrw42q_gn80000gn/T/ipykernel_90011/917993758.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data['Fuel_Type'] = cars_data['Fuel_Type'].replace(['Diesel' ,'Hybrid' ,'Electric', 'Petrol'], [1, 2, 3, 4])

In [15]:
cars_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Brand         10000 non-null  int64
 1   Model         10000 non-null  object
 2   Year          10000 non-null  int64
 3   Engine_Size   10000 non-null  float64
 4   Fuel_Type     10000 non-null  int64
 5   Transmission  10000 non-null  int64
 6   Mileage       10000 non-null  int64
 7   Owner_Count   10000 non-null  int64
 8   Price         10000 non-null  int64
dtypes: float64(1), int64(7), object(1)
memory usage: 703.3+ KB

In [16]:
cars_data

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Owner_Count,Price
0,1,Rio,2020,4.2,1,1,289944,5,8501
1,2,Malibu,2012,2.0,2,2,5356,3,12092
2,3,GLA,2020,4.2,1,2,231440,2,11171
3,4,Q5,2023,2.0,3,1,160971,1,11780
4,5,Golf,2003,2.6,2,3,286618,3,2867
...,...,...,...,...,...,...,...,...,...
9995,1,Optima,2004,3.7,1,3,5794,4,8884
9996,2,Impala,2002,1.4,3,2,168000,1,6240
9997,8,3 Series,2010,3.0,4,2,86664,1,9866
9998,10,Explorer,2002,1.4,2,2,225772,1,4084
9999,5,Tiguan,2001,2.1,1,1,157882,3,3342

In [17]:
cars_data.reset_index( inplace = True)

In [18]:
cars_data

,index,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Owner_Count,Price
0,0,1,Rio,2020,4.2,1,1,289944,5,8501
1,1,2,Malibu,2012,2.0,2,2,5356,3,12092
2,2,3,GLA,2020,4.2,1,2,231440,2,11171
3,3,4,Q5,2023,2.0,3,1,160971,1,11780
4,4,5,Golf,2003,2.6,2,3,286618,3,2867
...,...,...,...,...,...,...,...,...,...,...
9995,9995,1,Optima,2004,3.7,1,3,5794,4,8884
9996,9996,2,Impala,2002,1.4,3,2,168000,1,6240
9997,9997,8,3 Series,2010,3.0,4,2,86664,1,9866
9998,9998,10,Explorer,2002,1.4,2,2,225772,1,4084
9999,9999,5,Tiguan,2001,2.1,1,1,157882,3,3342

In [19]:
cars_data['Model'] = cars_data['Model'].replace(['Rio', 'Malibu', 'GLA', 'Q5', 'Golf' ,'Camry', 'Civic' ,'Sportage' ,'RAV4',
 '5 Series', 'CR-V', 'Elantra', 'Tiguan', 'Equinox', 'Explorer' ,'A3' ,'3 Series',
 'Tucson', 'Passat' ,'Impala', 'Corolla' ,'Optima' ,'Fiesta', 'A4' ,'Focus',
 'E-Class' ,'Sonata', 'C-Class' ,'X5', 'Accord'], [1, 2, 3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30])

/var/folders/87/cqxtqm5j3f5_kkqrw42q_gn80000gn/T/ipykernel_90011/3053533659.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cars_data['Model'] = cars_data['Model'].replace(['Rio', 'Malibu', 'GLA', 'Q5', 'Golf' ,'Camry', 'Civic' ,'Sportage' ,'RAV4',

In [20]:
cars_data

,index,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Owner_Count,Price
0,0,1,1,2020,4.2,1,1,289944,5,8501
1,1,2,2,2012,2.0,2,2,5356,3,12092
2,2,3,3,2020,4.2,1,2,231440,2,11171
3,3,4,4,2023,2.0,3,1,160971,1,11780
4,4,5,5,2003,2.6,2,3,286618,3,2867
...,...,...,...,...,...,...,...,...,...,...
9995,9995,1,22,2004,3.7,1,3,5794,4,8884
9996,9996,2,20,2002,1.4,3,2,168000,1,6240
9997,9997,8,17,2010,3.0,4,2,86664,1,9866
9998,9998,10,15,2002,1.4,2,2,225772,1,4084
9999,9999,5,13,2001,2.1,1,1,157882,3,3342

In [21]:
cars_data.drop(columns=['index'], inplace = True)

In [22]:
cars_data

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Owner_Count,Price
0,1,1,2020,4.2,1,1,289944,5,8501
1,2,2,2012,2.0,2,2,5356,3,12092
2,3,3,2020,4.2,1,2,231440,2,11171
3,4,4,2023,2.0,3,1,160971,1,11780
4,5,5,2003,2.6,2,3,286618,3,2867
...,...,...,...,...,...,...,...,...,...
9995,1,22,2004,3.7,1,3,5794,4,8884
9996,2,20,2002,1.4,3,2,168000,1,6240
9997,8,17,2010,3.0,4,2,86664,1,9866
9998,10,15,2002,1.4,2,2,225772,1,4084
9999,5,13,2001,2.1,1,1,157882,3,3342

In [23]:
input_data = cars_data.drop(columns = ['Price'])
output_data = cars_data['Price']

In [24]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data, test_size=0.2)

In [25]:
model = LinearRegression()

In [26]:
model.fit(x_train, y_train)

LinearRegression()

In [27]:
predict = model.predict(x_test)

In [28]:
predict

array([ 8959.94389586,  9766.25307427,  7837.01471947, ...,
        5076.42944533,  6983.03047243, 11348.0957864 ], shape=(2000,))

In [29]:
x_train.head(1)

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Owner_Count
8348,1,1,2001,1.8,1,1,284979,5

In [30]:
input_data_model = pd.DataFrame([[5, 5, 2023, 3.3, 4, 2, 141645, 5]],
                                columns=x_train.columns)

In [31]:
input_data_model

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Owner_Count
0,5,5,2023,3.3,4,2,141645,5

In [32]:

model.predict(input_data_model)

array([12910.63711611])

In [33]:

import pickle as pk

In [34]:
pk.dump(model, open('model.pkl', 'wb'))